@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Game Of Squids';
  src: url('/fonts/Game Of Squids.ttf') format('truetype');
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Game Of Squids', Arial, sans-serif;
}

.container {
  max-width: 640px;
  margin: 0 auto;
  padding: 20px;
}

.api-page {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.heading {
  font-family: 'Game Of Squids', Arial, sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}

.button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 20px;
  position: relative;
}

.grid-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
  height: 150px;
  width: 150px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.grid-cell.active {
  background-color: #f0f0f0;
  color: #333;
}

.grid-cell.inactive {
  background-color: #000;
  color: #000;
}

.grid-cell img {
  max-width: 100%;
  max-height: 50%;
  margin-bottom: 5px;
}

.grid-cell .team-name {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.grid-cell .team-number {
  font-size: 0.9rem;
  color: #666;
}

.heading {
  font-family: 'Game Of Squids', Arial, sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
}

.heading .highlight {
  color: rgb(255, 88, 116);
}

.timer {
  font-family: 'Game Of Squids', Arial, sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 10px;
}

.timer .seconds {
  color: rgb(255, 88, 116);
}

.active-count {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: 'Game Of Squids', Arial, sans-serif;
  font-size: 1.5rem;
  color: rgb(255, 88, 116);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 4px;
  z-index: 10;
}

.active-count-main {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: 'Game Of Squids', Arial, sans-serif;
  font-size: 1.5rem;
  color: rgb(255, 88, 116);
  padding: 10px;
  border-radius: 4px;
  z-index: 10;
}

.problem-statement {
  color: rgb(255, 88, 116);
}

@media (min-width: 640px) {
  .sm\:p-20 {
    padding: 5rem;
  }
}

/* Additional styles for the login page */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* background-color: #fff; */
}

.login-container label {
  color: #fff;
}
.login-container h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}
